<section class="text-center vh-100 bg-danger text-white">
  <div class="container">
    <div>
      <div class="sign d-flex justify-content-center align-items-center">
        <span class="fast-flicker">S</span> tor <span class="flicker">e</span> <span class="fast-flicker">G</span>a<span class="flicker">m</span>e
      </div>
      <div class="store d-flex flex-column gap-4 mt-4">
        <div class="tiktactoe d-flex justify-content-start align-items-center gap-3 p-2 rounded-3" routerLink="/tiktactoe">
          <img src="./assets/images/logoImage/tikLogo.png" class="rounded-2" alt="">
          <h2>Tik Tac Toe</h2>
        </div>
        <div class="tiktactoe d-flex justify-content-start align-items-center gap-3 p-2 rounded-3" routerLink="/memorygame">
          <img src="./assets/images/logoImage/memoryLogo.jpeg" class="rounded-2" alt="">
          <h2>Memory Game</h2>
        </div>
      </div>
    </div>
  </div>
</section>
